* {
  padding: 0;
  margin: 0;
}
.contarner {
  padding: 3vw;
}
body {
  background-color: #f5f5f5;
}
.top-bar {
  background-color: #ff8198;
  line-height: 6vh;
  text-align: center;
  color: #fff;
}
.swiper img {
  width: 100%;
  display: block;
}
#recommend {
  background-color: #fff;
}
#recommend .van-image {
  margin-bottom: 1vh;
}
#feature {
  background-color: #fff;
  margin: 1.5vh 0;
}
#feature h3 {
  text-align: center;
  margin: 0;
  padding: 1.5vh;
}
#goods-list .van-tabs__content {
  padding: 2vw;
  background-color: #fff;
}
#goods-list .van-tabs__content img {
  border-radius: 5px;
  width: 100%;
}
#goods-list .van-tabs__content p {
  margin: 0.8vh;
}
#goods-list .van-tabs__content .comment {
  text-align: center;
}
#goods-list .van-tabs__content .comment .price {
  color: #ff8198;
  padding-right: 1.5vw;
}
#goods-list .van-tabs__content .van-col {
  margin-bottom: 1.5vh;
}
#detail .back {
  position: fixed;
  top: 2.3vw;
  z-index: 3;
  left: 3vw;
}
#detail .van-index-anchor {
  padding-top: 6vh;
  height: 0;
  font-size: 0;
}
#detail .van-index-bar__sidebar {
  top: 0;
  width: 90vw;
  padding-left: 10vw;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  transform: translateY(0);
}
#detail .van-index-bar__sidebar .van-index-bar__index {
  line-height: 6vh;
  flex-grow: 1;
}
#detail .goods-info {
  background-color: #fff;
  margin-bottom: 3vw;
  padding: 3vw;
}
#detail .goods-info p {
  color: #666;
  line-height: 25px;
  padding: 2vw 0;
}
#detail .goods-info .goods-price {
  padding-bottom: 3vw;
}
#detail .goods-info .goods-price .now-price {
  font-size: 30px;
  color: #ff8198;
}
#detail .goods-info .goods-price .last-price {
  color: #999;
  text-decoration: line-through;
  padding-right: 2vw;
}
#detail .goods-info .sell-num {
  text-align: center;
  font-size: 14px;
  color: #666;
  padding-bottom: 3vw;
}
#detail .store-info {
  padding: 3vw;
  background-color: #fff;
  vertical-align: middle;
}
#detail .store-info-title {
  display: flex;
  align-items: center;
}
#detail .store-info-title img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}
#detail .store-info-title span {
  font-size: 20px;
  color: #ff8198;
}
#detail .store-info-content {
  text-align: center;
}
#detail .store-info-content p {
  padding: 2vw 0 4vw 0;
  font-size: 16px;
  font-weight: bold;
  color: #666;
}
#detail .store-info-content-num > span {
  font-size: 12px;
  color: #999;
}
#detail .store-info-content-race div {
  margin: 4px 0;
  font-size: 14px;
}
#detail .store-info-content-race div span {
  padding: 0 5px;
}
#detail .store-info-goin {
  text-align: center;
  padding: 4vw 0;
}
#detail .goods-composition {
  margin-bottom: 2vw;
}
#detail .goods-effect {
  padding: 3vw;
  background-color: #fff;
}
#detail .goods-effect p {
  padding: 10px 0;
}
#detail .goods-effect img {
  width: 100%;
}
